.PlaylistContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
}

.Playlist {
  margin: 20px;
  border: 1px solid black;
}

.PlaylistHeader {
  height: 2em;
  background-color: blue;
  color: white;
}
