.PlaylistHeader {
  height: 4em;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.Playlist {
  width: 280px;
  height: 0px;
  margin: 20px;
}

.PlaylistItem {
  height: 4em;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PlaylistUl .PlaylistItem:nth-child(odd) {
  background-color: lightcyan;
}

.PlaylistUl .PlaylistItem:nth-child(even) {
  background-color: lightblue;
}

.HeadphoneGrey {
  cursor: pointer;
  background-color: transparent;
  color: grey;
}

.HeadphoneGreen {
  cursor: pointer;
  background-color: transparent;
  color: green;
}

.FavoriteGrey {
  cursor: pointer;
  background-color: transparent;
  color: grey;
}

.FavoriteRed {
  cursor: pointer;
  background-color: transparent;
  color: red;
}
